/*=== GLOBAL ===*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

#logo {
  min-width: 200px;
  max-width: 200px;
}

.logo {
  text-align: center;
}

.overlay h1 {
  color: #ffffff;
  font-size: 4em;
  letter-spacing: 4px;
}

.item img {
  display: block;
}

.price {
  color: #ffffff;
  font-size: 2.5em;
}

.menu {
  color: #ffffff;
  font-size: 1.5em;
  margin: 12px;
  border: 2px solid #ffffff;
  padding: 16px 24px;
}

a {
  text-decoration: none;
  color: inherit;
}
/*=== GLOBAL CONTAINER ===*/

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'side main'
}

.left-container {
  grid-area: side;
  background-color: #333333;
}

.right-container {
  grid-area: main;
}

.right-container ul {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
}

.right-container li {
  margin: 24px;
  color: #800000;
}

.right-container li:hover {
  color: #ff0000;
}

/*=== Overlay ===*/

.item {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-content: center;
}
